<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="BitBucket"
            id="bitbucket">
      </category>
      <view
            id="com.diabolo.eclipse.bitbucket.views.PullRequestsView"
            name="Pull Requests"
            class="com.diabolo.eclipse.bitbucket.views.PullRequestsView"
            category="com.diabolo.eclipse.bitbucket"
            inject="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            id="com.diabolo.eclipse.bitbucket.preferences.BitBucketPreferencePage"
            name="BitBucket Preferences"
            class="com.diabolo.eclipse.bitbucket.preferences.BitBucketPreferencePage">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.diabolo.eclipse.bitbucket.preferences.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
